@import "@/styles/_variables.scss";

html {
  background-color: $background-color;
}
label {
  display: block;
  margin-bottom: 5px;
}
a {
  color: $primary-color;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
input {
  font-size: 1.1rem;
}
.container {
  margin: 0 auto;
}
.is-primary {
  background-color: $primary-color;
  color: white;
}
.button {
  border: none;
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 15px 0;
  font-size: 16px;
  font-weight: bold;
}
.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
.error {
  color: $error-color;
  margin-bottom: 15px;
  font-size: 0.9rem;
}
.title {
  display: block;
  margin: 15px 0 25px 0;
  font-size: 1.2em;
  font-weight: bold;
}
.page-container {
  width: 80vw;
}
@media screen and (min-width: 768px) {
  .page-container {
    width: 60vw;
  }
}
@media screen and (min-width: 992px) {
  .page-container {
    width: 35vw;
  }
}

@media screen and (min-width: 1200px) {
  .page-container {
    width: 40vw;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
